<div class="head-title">
    <span class="title">Books</span><span class="book-count">(128 items)</span>
</div>

<div class="books-content">
    <div class="row-content">
        <div class="book-1">
            <!-- <div class="image">
                <img src="../../../assets/images/home-books/Image 11.png" alt="book image">
            </div>
            <div class="book-details">
                <span class="book-name">Dont Make Me Think</span><br>
                <span class="author">by Steve Krug</span><br>
                <span class="price">Rs.1500</span><br>
            </div>
            <div class="buttonParent">
                <button mat-raised-button color="accent" class="button addButton">
                    <span class="add">Add to Bag</span></button>
                <button mat-raised-button color="accent" class="button wishistButton" id="wishlistButton">
                    <span class="wish">Wishlist</span>
                </button>
            </div> -->
            <mat-card class="example-card">
                <div class="image">
                    <img  src="../../../assets/images/home-books/Image 11.png" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-content>
                    <div class="book-details">
                        <span class="book-name">Dont Make Me Think</span><br>
                        <span class="author">by Steve Krug</span><br>
                        <span class="price">Rs.1500</span><br>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="buttonParent">
                        <button mat-raised-button color="accent" class="button addButton">
                            <span class="add">Add to Bag</span></button>
                        <button mat-raised-button color="accent" class="button wishistButton" id="wishlistButton">
                            <span class="wish">Wishlist</span>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="book-1">
            <!-- <div class="image">
                <img src="../../../assets/images/home-books/Image 11.png" alt="book image">
            </div>
            <div class="book-details">
                <span class="book-name">Dont Make Me Think</span><br>
                <span class="author">by Steve Krug</span><br>
                <span class="price">Rs.1500</span><br>
            </div>
            <div class="buttonParent">
                <button mat-raised-button color="accent" class="button addButton">
                    <span class="add">Add to Bag</span></button>
                <button mat-raised-button color="accent" class="button wishistButton" id="wishlistButton">
                    <span class="wish">Wishlist</span>
                </button>
            </div> -->
            <mat-card class="example-card">
                <div class="image">
                    <img  src="../../../assets/images/home-books/Image 11.png" alt="Photo of a Shiba Inu">
                </div>
                <mat-card-content>
                    <div class="book-details">
                        <span class="book-name">Dont Make Me Think</span><br>
                        <span class="author">by Steve Krug</span><br>
                        <span class="price">Rs.1500</span><br>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="buttonParent">
                        <button mat-raised-button color="accent" class="button addButton">
                            <span class="add">Add to Bag</span></button>
                        <button mat-raised-button color="accent" class="button wishistButton" id="wishlistButton">
                            <span class="wish">Wishlist</span>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

