html body {
    margin: 0;
}
  
.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 15px 0;
    background-color: #A03037;
    position:sticky;
    height: 30px;
    
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    border: 0px solid #A03037;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #FFFFFF;
    width: 80%; 
}
.Cart{
    text-align: left;
    font: normal normal bold 11px/15px Lato;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}

.mat-badge-content{
    background : #FFFFFF 0% 0% no-repeat padding-box;
    color: #A03037;
  }
.cart-logo{
    margin-right: 240px;
}
.cart-count{
    margin-right: 240px;
    text-align: left;
    font: normal normal bold 13px/15px Lato;
    letter-spacing: 0px;
    color: #A03037;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}


.search-content{
    margin-right: 340px;
}

.search-input{
    height: 28px;
    width: 110%;
    margin-right: 340px;
    margin-bottom: 30px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;

}

.cart-name{
    color: white;
    margin-bottom: 30px;
    margin-right: 10px;
}
.book-logo {
    border: solid 0px #42515f;
    max-width: 20%;
    padding-left: 164px;
    opacity: 1;
}
.book {
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.logo-text-content {
    display: flex;
    flex-direction: column;
}