<header class="header-content header">
    <!------  BookStore Logo and Title  ------>
    <div class="logo-content">
        <img class="book-logo" src="../../../assets/images/education.png" alt="Logo Image">
        <div class="logo-text-content">
            <span class="book">Bookstore</span>
        </div>
    </div>
    <!-----  Search Bar  ------>
    <input *ngIf="router.url === '/home' || router.url === '/cart'||  router.url === '/order';" type="text"
        placeholder="Search" class="search-input">

    <span *ngIf="router.url === '/home' || router.url === '/cart' ||  router.url === '/order' ;" class="cart-name"
        matBadge="{{cartCount}}" matBadgeOverlap="false" matBadgeSize="small">Cart</span>
    <!------ Cart Logo ------>
    <a routerLink="/cart">
        <div *ngIf="router.url === '/home' || router.url === '/cart' ||  router.url === '/order';" class="Cart">
            <img class="cart-logo" src="../../../assets/images/supermarket.svg" alt="Cart Logo">
        </div>
    </a>

</header>