<!-------------  Order Page  ------------->

<body>
    <!-- Order Message And Image -->
    <div class="order-content">
        <div class="row-content">
            <div class="image">
                <img src="../../../assets/images/Group 4132.png" style="position: relative;" alt="group-logo">
                <span class="message">Order Placed Successfully</span>
            </div>
            <div class="order-message">
                <span>&nbsp;&nbsp;&nbsp; &nbsp; hurray!!! your order is confirmed &nbsp;&nbsp;</span><br>
                <span>the order id is #123456 save the order id</span><br>
                <span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;for further communication..</span>
            </div>
        </div>
    </div>
    <!-----  Contact Details ----->
    <div class="contact-details">
        <table class="table-content">
            <tr>
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>admin@bookstore.com</td>
                <td>+91 8163475231</td>
                <td>42, 14th Main, 15th Cross, Sector 4,<br>opp to BDA complex, <br> near Kumarakom restaurant,<br> HSR
                    Layout, Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <!----  Continue Button that routes on Home page ----->
    <div class="buttonParent">
        <a routerLink="/home">
            <button class="continue-button"><span class="continue">Continue Shopping</span></button>
        </a>
    </div>
</body>