.head-title,.customer-title{
    margin-left: 35px;
    margin-top: 18px;
    text-align: left;
    font: normal normal normal 19px/23px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}
.customer-title{
    margin-bottom: 15px;
}
.row-content{
    margin-left: 177px;
    margin-right: 300px;
    margin-bottom: 24px;
    margin-top: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1px;
    opacity: 0.8;
    .main-cart{
        margin-left: 36px;
        margin-top: 40px;
    }
    .column-content{
        margin-left: 20px;
    }
    .left-inputs {
        padding-right: 40px;
        width: 40%;
    }
    
    .right-inputs {
        padding-left: 40px;
        width: 40%;
    }
    
    .date-input {
        width: 88%;
        padding-right: 40px;
        
    }
}
.cart-detail{
    display :flex;
    margin-right: 680px;
    margin-top: 40px;
}

.book-details{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 70px;
    opacity: 1;
    .book-name{
        color: #0A0102;
        font: normal normal bold 14px/17px Lato;
        margin-bottom: 10px;
        text-align: left;
    }
    .author{
        font: normal normal normal 10px/12px Lato;
        color: #9D9D9D;
        margin-bottom: 10px;
    }
    .price{
        font: normal normal bold 12px/15px Lato;
        color: #0A0102;
    }
}

.add-remove{
    margin-left: 155px;
    margin-bottom: 20px;
    .inp{
        width: 3%;
        text-align: center;
    }
    .rem{
        margin-left: 26px;
        text-align: left;
        font: normal normal normal 16px/19px Lato;
        letter-spacing: 0px;
        color: #0A0102;
        opacity: 1;
        background:none;
        border:none;
        cursor: pointer;
    }
}

.buttonParent{
    display: flex;
    margin-left: 780px;
    margin-right: 1px;
    margin-bottom: 20px;
    .place-order{
        background: #3371B5 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        .added{
            text-align: left;
            font: normal normal medium 11px/13px Lato;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: uppercase;
            opacity: 1;
            margin-left: 35px;
            margin-right: 35px;
           
        }
    }
    
}
.btnParent{
    display: flex;
    margin-top: 30px;
    margin-right: 36px;
    margin-bottom: 20px;
    .cancel-order{
        margin-left: 30px;
        background:#df5b5b 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        .added{
            text-align: left;
            font: normal normal medium 11px/13px Lato;
            letter-spacing: 0px;
            color: white;
            text-transform: uppercase;
            opacity: 1;
            margin-left: 35px;
            margin-right: 35px;
           
        }
        
    }
    .place-order{
        margin-left: 650px;
        background: #3371B5 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        .added{
            text-align: left;
            font: normal normal medium 11px/13px Lato;
            letter-spacing: 0px;
            color: #FFFFFF;
            text-transform: uppercase;
            opacity: 1;
            margin-left: 35px;
            margin-right: 35px;
           
        }
    }
}
mat-radio-group{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.radio{
    margin-right: 180px;
}