<body>
    <div class="form-content">
        <div class="body-content">
            <p>Bookstore Forgot Password</p>
        </div>
        <form class="form" action="#" (ngSubmit)="onSubmit()">
            <div class="form-head">
                <p>Please Enter Your Email</p>
            </div>
            <div class="row-content">
                <mat-label class="label text" for="Email">Email</mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input id="email" class="input" matInput placeholder="Enter Your Email" type="search" [(ngModel)]="emailID" name="emailID" autocomplete="off"
                     required>
                </mat-form-field>
            </div>
            <div class="buttonParent">
                <a routerLink="/login">
                    <button mat-raised-button color="accent" class="button cancelButton">Cancel</button>
                </a>
                <div class="login">
                    <button mat-raised-button color="accent" type="submit" class="button loginButton"
                        id="loginButton">
                        <span class="state">Submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
